@import '../../../../scss/variables.scss';
nav {
    background-color: $blue;
    ul {
        li {
            a {
                color: $orange;
                font-size: 1rem;
            }
        }
    }
}